*{
	background-color: #777777;
}

.snuaaa{
	border-radius: 5px;
	text-align: center;
}
.snuaaa h1{
	color: #FFFF55;
	font-size: 4em;
}
.snuaaa h5{
	padding-top: -5px;
	padding-bottom: 5px;
}

.button{
	margin-top: 30px;
}

.button div{
	border: 2px solid #000000;
	display: inline-block;
	left: 50px;
	bottom: 50px;
	background-color: #dd5555;
	height: 30px;
	width: 100px;
}

.button div p{
	margin:auto;
	text-align: center;
}

}

.loginform {
	border: 2px solid #555555;
	position: relative;
	backgrond-color:#555555;
}
